/*
Darkest brown = #260126
Purple / brown = #59323C

Orange brown = #cc8029
Dark brown = #4c300f
Khaki = #ffc480
*/

body {
    font-family: Oxygen, sans-serif;
    /*background-image: url(imgs/paper.png);*/
}
a {
    margin: 20px;
    text-decoration: none;
    color: black;
    transition: 0.1s linear;
}
a:hover {
    color: #F0DCAF;
}
#add-singer {
	height: 180px;
	width: 400px;
	border: 1px solid red;
	margin: 40px;
	display: inline-block;
    display: none;
	padding: 10px;
}
h3 {
	margin: 10px;
}
#singerform {
    margin-bottom: 20px;
}





#songs {
    width: 1330px;
    /*height: 540px;*/
    background: #F0DCAF;
    margin: 20px;
}
#singers {
	/*height: 450px;*/
	width: 220px;
	background: #FFF3D6;
	margin: 20px;
	display: inline-block;
}
.uln {
    text-decoration: underline;
}
h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    /*margin-bottom: 20px;*/
}
h4 {
    color: grey;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 6px;
    /*border: 1px solid black;*/
    width: 80%;
}
input[type='checkbox'] {
    height: 18px;
    width: 18px;
}
#forms  input[type='checkbox'] {
    margin-left: 10px;
}
.t1 {
    color: darkred;
}
#go {
	margin-top: 20px;
}
#factors {
    /*height: 430px;*/
    width: 220px;
    background: #FFF3D6;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}
#results {
	height: 420px;
	width: 710px;
	/*background: #EBF7FC;*/
    padding: 15px;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden;
}
.result {
    width: 150px;
    height: 60px;
    padding: 5px;
    border: 1px solid #E0C077;
    background: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}
.result h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.result:hover {
    box-shadow: 0px 0px 8px #A89365;
    cursor: pointer;
}
.us {
    outline: 2px solid red;
    text-overflow: ellipsis;
}
.bb {
    border: 2px solid blue;
    /*background: #E4F1F7;*/
}
#warnings {
    /*border: 1px solid red;*/
    font-size: 16px;
    color: darkred;
    margin: 20px;
    margin-top: 0;
    height: 40px;
}

form .btn {
    margin: 10px;
}
.btn {
    width: 200px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    background: #D4BE8E;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: none;
    font-family: Oxygen, sans-serif;
    margin: 20px;
}
.btn:hover {
    color: white;
}
label {
    font-size: 13px;
    position: absolute;
    left: 7px;
    top: 15px;
    color: #C2C2C2;
    padding-left: 10px;
    cursor: text;
}
select + label {
    padding-top: 7px;
    cursor: auto;
}
form div {
    position: relative;
    display: inline-block;
}

#forms {
 
}
#addSong, #editSong, #addSinger, #editSinger {
    /*height: 240px;*/
    width: 770px;
    border: 3px solid #F0DCAF;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    background: #FFF3D6;
}


.formtext {
    width: 160px;
    height: 20px;
    padding-left: 5px;
    margin: 10px;
    font-family: Oxygen, sans-serif;
}
.formselect {
    width: 169px;
    height: 30px;
    margin: 10px;
    margin-top: 15px;
    padding-left: 2px;
    font-family: Oxygen, sans-serif;
}
option:first-child {
    color: #C2C2C2;
}
#editSong h3, #editSinger h3 {
    margin-left: 190px;
    display: inline-block;
}

#editSongForm {
    display: none;
}

.none {
    display: none !important;
}

#update-api {
    width: 200px;
    height: 40px;
    background: black;
    color: white;
    text-align: center;
    cursor: pointer;
    display: none;
}

.songInfo {
    width: 320px;
    /*height: 240px;*/
    background: #FFF3D6;
    border: 2px solid #E0C077;
    padding: 5px;
    padding-bottom: 15px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    opacity: 0.3;
    transition: 0.12s linear;
}
.songInfo:hover {
    opacity: 1;
}
.songInfo h3 {
    margin-bottom: 15px;
}
tr {
    margin-bottom: 2px;
}
td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    width: 150px;
}
td:nth-child(2) {
    padding-left: 10px;
}


/************************************************************************************************/

#pages {
    width: 200px;
    border: 2px solid gold;
    padding: 10px;
    margin: 20px;
}
.pageLink {
    font-size: 18px;
    margin: 15px;
}
#currentpage{
    /* put triangle next to current page here */
}
#auditionSeason {
    border: 2px solid gold;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
#auditionSeason h1{
    font-size: 22px;
}